<a href="https://colab.research.google.com/github/ucfilho/Machine_Learning_Study/blob/master/DataAnalysis/Turing_covid_cases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Data Analysis-Turing
# Covid Study

In [3]:
!git clone https://github.com/ucfilho/Machine_Learning_DataSet #clonar do Github
%cd Machine_Learning_DataSet

fatal: destination path 'Machine_Learning_DataSet' already exists and is not an empty directory.
/content/Machine_Learning_DataSet

In [4]:
Nome = 'covid_data.csv'
df = pd.read_csv(Nome)

In [5]:
df.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [6]:
# When cases in Italy become 10k bigger than Germany?
# Answer: 2020-03-12

In [20]:
germany = df[(df['location'] == 'Germany') ]
italia = df[(df['location'] == 'Italy') ]
cases_italia = italia['new_cases'].values
cases_germany= germany['new_cases'].values
num = len(italia)
index = 0
time ='bla'
cont_it = 0; cont_ge = 0
for i in range(num):
  cont_it = cont_it + cases_italia[i]
  cont_ge = cont_ge + cases_germany[i]
  

  if(cont_it -  cont_ge  >= 10000):
    index = i
    time = italia.iloc[i]['date']
    break

print('time=',time)
print('Italia=',cont_it,'Alemanha=',cont_ge)

time= 2020-03-12
local= Afghanistan
Italia= 12462 Alemanha= 1567

In [8]:
# question 2: Which country was the third in higher number of cases?
# Answer: Brazil

In [9]:
paises=df['location'].unique()
lista1 = []
lista2 = []
for i in paises:
  pais_soma = df[(df['location'] == i) ]
  soma = sum(pais_soma['new_deaths'].values)
  lista1.append(i)
  lista2.append(soma)
paises = pd.DataFrame({'pais':lista1,'soma':lista2})
paises.head()

          pais  soma
0  Afghanistan   384
1      Albania    34
2      Algeria   724
3      Andorra    51
4       Angola     4

In [19]:
paises = paises.sort_values(by=['soma'], ascending=False) 
print(paises.head(5))

               pais    soma
210           World  411195
199   United States  112006
198  United Kingdom   40883
27           Brazil   38406
97            Italy   34043